.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #353935;
    color: white;
    text-align: center;
    padding: 15px;
}

td{
    font-size: 16px;
}

button{
    color: red;
}

.form-horizontal{
    width: 30%;
}

.form-group{
    position: relative;
    top: 100px;
    left: 700px;
}

.item{
    height: 1000px;
}

.footer p{
    position: relative;
    left: 7px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: white;
}

.fa:hover{
    color: #B8C5D6;
    transition-duration: 1s;
    text-decoration: none;
}

